.header {
   background-color: #131921;
   color: #FF9900;
   height: 80px;
   border: 2px solid rgb(0, 0, 0);
   margin: 5px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
}

.card {
   width: 210px;
   border: 2px solid black;
   border-radius: 10px;
   margin: 10px;
   margin-top: 5px;
   text-align: center;
   display: inline-block;

}

.image {
   width: 100%;
   border-radius: 10px;
}

.modelName {
   display: flex;
   justify-content: center;
   font-size: 20px;
   margin: -15px;
}

.description {
   display: flex;
   justify-content: center;
}

.price {
   font-size: 26px;
   font-weight: bold;
   margin-top: 15px;
   margin: -25px;
}

.btn {
   background-color: #FF9900;
   color: white;
   border: none;
   padding: 12px 20px;
   font-size: 16px;
   border-radius: 8px;
   cursor: pointer;
   margin-bottom: 20px;
}

.btn:hover {
   background-color: #e68a00;
}

.A16Pro{
   padding: 1px;
}